node_modules
**/node_modules

.DS_Store
.husky/_
.claude
.codex
.docs
.playwright-cli
**/.playwright-cli
.vscode

bundle
compiled
dist
dist-preview
release
.parcel-cache
*.tsbuildinfo
test/.userData
build/icons

apps/newframe/bundle
apps/newframe/compiled
apps/newframe/dist
apps/newframe/dist-preview
apps/newframe/release
apps/newframe/.parcel-cache
apps/newframe/*.tsbuildinfo
apps/newframe/test/.userData
apps/newframe/build/icons

apps/newframe-extension/dist
apps/newframe-extension/.cache

package-lock.json
.cache
cache
scratch*
