@font-face {
  font-family: 'VCR';
  font-weight: 100 700;
  src: url('../assets/fonts/VCR/VCR.ttf');
}

@font-face {
  font-family: 'FiraCode';
  font-weight: 100;
  src: url('../assets/fonts/FiraCode/FiraCode-Light.ttf');
}

@font-face {
  font-family: 'FiraCode';
  font-weight: 200;
  src: url('../assets/fonts/FiraCode/FiraCode-Regular.ttf');
}

@font-face {
  font-family: 'FiraCode';
  font-weight: 250;
  src: url('../assets/fonts/FiraCode/FiraCode-Retina.ttf');
}

@font-face {
  font-family: 'FiraCode';
  font-weight: 300;
  src: url('../assets/fonts/FiraCode/FiraCode-Medium.ttf');
}

@font-face {
  font-family: 'FiraCode';
  font-weight: 400;
  src: url('../assets/fonts/FiraCode/FiraCode-SemiBold.ttf');
}

@font-face {
  font-family: 'FiraCode';
  font-weight: 500;
  src: url('../assets/fonts/FiraCode/FiraCode-Bold.ttf');
}

@font-face {
  font-family: 'MainFont';
  font-weight: 200;
  src: url('../assets/fonts/Ubuntu/Ubuntu-Light.ttf');
}

@font-face {
  font-family: 'MainFont';
  font-weight: 300;
  src: url('../assets/fonts/Ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
  font-family: 'MainFont';
  font-weight: 400;
  src: url('../assets/fonts/Ubuntu/Ubuntu-Medium.ttf');
}

@font-face {
  font-family: 'MainFont';
  font-weight: 500;
  src: url('../assets/fonts/Ubuntu/Ubuntu-Bold.ttf');
}
