.t2LegacyTokens
  min-height 0
  padding 0 5px 100px

  @import '../AddToken/style'
  @import '../CustomTokens/style'

.t2LegacyTokenFooter
  position absolute
  right 8px
  bottom 18px
  left 8px
  height 60px
  padding 3px 3px 1px
  border-radius 30px
  background var(--color-bg-primary)

.t2LegacyTokenFooterButton
  position relative
  z-index 5
  height 56px
  border-bottom 2px solid var(--color-bg-primary)
  border-radius 28px
  background var(--color-bg-raised)
  box-shadow 0 2px 4px var(--color-bg-primary)
  color var(--color-text-primary)
  display flex
  align-items center
  justify-content center
  cursor pointer
  font-family 'MainFont'
  font-size 16px
  font-weight 400
  letter-spacing 1px

  &:hover
    transform translateY(-1px)
    box-shadow 0 4px 8px var(--color-bg-primary)
    background var(--color-bg-control)

  &:active
    transform translateY(0)
    box-shadow 0 1px 2px var(--color-bg-primary)

  .newAccountIcon
    position absolute
    top 0
    bottom 0
    left 0
    width 64px
    display flex
    align-items center
    justify-content center

  *
    pointer-events none
