node_modules
.DS_Store
bundle
.cache
cache
hot.json
nohot.json
config.json
dist
compiled
release
test/.userData
.vscode
*.tsbuildinfo
*.code-workspace
dist-preview
.env
.env.*
!.env.example
!.env.*.example
