@keyframes headShake
  0%
    transform translateX(0)
  6.5%
    transform translateX(-6px) rotateY(-9deg)
  18.5%
    transform translateX(5px) rotateY(7deg)
  31.5%
    transform translateX(-3px) rotateY(-5deg)
  43.5%
    transform translateX(2px) rotateY(3deg)
  50%
    transform translateX(0)

.headShake
  animation-duration 1s
  animation-fill-mode both
  animation-timing-function ease-in-out
  animation-name headShake
  transform translateZ(0)

.footerModule
  position absolute
  bottom 0px
  left 0px
  right 0px
  min-height 40px
  z-index 99999999
  transition var(--standard)

  .footerWrap
    width 100%
    display flow-root

.accountsModuleExpand
  height 100%
  background var(--color-bg-primary)
  overflow hidden

.moduleExpanded
  min-height 100%

@import '../Requests/style'
@import './view'
