@import './style/tokens/colors.generated.css'

@font-face
  font-family 'VCR'
  font-weight 100 700
  src url('./fonts/VCR/VCR.ttf')

@font-face
  font-family 'FiraCode'
  font-weight 100
  src url('./fonts/FiraCode/FiraCode-Light.ttf')

@font-face
  font-family 'FiraCode'
  font-weight 200
  src url('./fonts/FiraCode/FiraCode-Regular.ttf')

@font-face
  font-family 'FiraCode'
  font-weight 250
  src url('./fonts/FiraCode/FiraCode-Retina.ttf')

@font-face
  font-family 'FiraCode'
  font-weight 300
  src url('./fonts/FiraCode/FiraCode-Medium.ttf')

@font-face
  font-family 'FiraCode'
  font-weight 400
  src url('./fonts/FiraCode/FiraCode-SemiBold.ttf')

@font-face
  font-family 'FiraCode'
  font-weight 500
  src url('./fonts/FiraCode/FiraCode-Bold.ttf')

@font-face
  font-family 'MainFont'
  font-weight 200
  src url('./fonts/Ubuntu/Ubuntu-Light.ttf')

@font-face
  font-family 'MainFont'
  font-weight 300
  src url('./fonts/Ubuntu/Ubuntu-Regular.ttf')

@font-face
  font-family 'MainFont'
  font-weight 400
  src url('./fonts/Ubuntu/Ubuntu-Medium.ttf')

@font-face
  font-family 'MainFont'
  font-weight 500
  src url('./fonts/Ubuntu/Ubuntu-Bold.ttf')

@keyframes shake 
  0% 
    transform translate3d(0px, 0px, 0)
  25% 
    transform translate3d(-1px, -1px, 0)
  50% 
    transform translate3d(1px, 1px, 0)
  75% 
    transform translate3d(-1px, 0px, 0) rotate(1deg)
  100% 
    transform translate3d(1px, -2px, 0) rotate(-1deg)


@keyframes shake-little 
  2% 
    transform: translate(0px, 0px) rotate(0.5deg) 
  4% 
    transform: translate(0px, 1px) rotate(0.5deg) 
  6% 
    transform: translate(1px, 0px) rotate(0.5deg) 
  8% 
    transform: translate(1px, 1px) rotate(0.5deg) 
  10% 
    transform: translate(0px, 1px) rotate(0.5deg) 
  12% 
    transform: translate(1px, 0px) rotate(0.5deg) 
  14% 
    transform: translate(1px, 1px) rotate(0.5deg) 
  16% 
    transform: translate(0px, 1px) rotate(0.5deg) 
  18% 
    transform: translate(1px, 0px) rotate(0.5deg) 
  20% 
    transform: translate(1px, 0px) rotate(0.5deg) 
  22% 
    transform: translate(0px, 1px) rotate(0.5deg) 
  24% 
    transform: translate(0px, 0px) rotate(0.5deg) 
  26% 
    transform: translate(0px, 1px) rotate(0.5deg) 
  28% 
    transform: translate(0px, 1px) rotate(0.5deg) 
  30% 
    transform: translate(1px, 1px) rotate(0.5deg) 
  32% 
    transform: translate(0px, 1px) rotate(0.5deg) 
  34% 
    transform: translate(1px, 0px) rotate(0.5deg) 
  36% 
    transform: translate(1px, 0px) rotate(0.5deg) 
  38% 
    transform: translate(0px, 1px) rotate(0.5deg) 
  40% 
    transform: translate(0px, 1px) rotate(0.5deg) 
  42% 
    transform: translate(0px, 1px) rotate(0.5deg) 
  44% 
    transform: translate(0px, 1px) rotate(0.5deg) 
  46% 
    transform: translate(0px, 0px) rotate(0.5deg) 
  48% 
    transform: translate(1px, 0px) rotate(0.5deg) 
  50% 
    transform: translate(1px, 1px) rotate(0.5deg) 
  52% 
    transform: translate(1px, 0px) rotate(0.5deg) 
  54% 
    transform: translate(1px, 1px) rotate(0.5deg) 
  56% 
    transform: translate(0px, 0px) rotate(0.5deg) 
  58% 
    transform: translate(1px, 0px) rotate(0.5deg) 
  60% 
    transform: translate(1px, 1px) rotate(0.5deg) 
  62% 
    transform: translate(0px, 0px) rotate(0.5deg) 
  64% 
    transform: translate(1px, 1px) rotate(0.5deg) 
  66% 
    transform: translate(0px, 1px) rotate(0.5deg) 
  68% 
    transform: translate(1px, 1px) rotate(0.5deg) 
  70% 
    transform: translate(0px, 1px) rotate(0.5deg) 
  72% 
    transform: translate(1px, 0px) rotate(0.5deg) 
  74% 
    transform: translate(0px, 0px) rotate(0.5deg) 
  76% 
    transform: translate(1px, 0px) rotate(0.5deg) 
  78% 
    transform: translate(0px, 0px) rotate(0.5deg) 
  80% 
    transform: translate(1px, 1px) rotate(0.5deg) 
  82% 
    transform: translate(0px, 0px) rotate(0.5deg) 
  84% 
    transform: translate(0px, 1px) rotate(0.5deg) 
  86% 
    transform: translate(1px, 0px) rotate(0.5deg) 
  88% 
    transform: translate(0px, 0px) rotate(0.5deg) 
  90% 
    transform: translate(1px, 1px) rotate(0.5deg) 
  92% 
    transform: translate(1px, 0px) rotate(0.5deg) 
  94% 
    transform: translate(1px, 1px) rotate(0.5deg) 
  96% 
    transform: translate(0px, 1px) rotate(0.5deg) 
  98% 
    transform: translate(1px, 0px) rotate(0.5deg) 
  0%, 100% 
    transform: translate(0, 0) rotate(0)  

body
  // Transistions
  --standardFaster .08s cubic-bezier(.82,0,.12,1) all
  --standardFast .16s cubic-bezier(.82,0,.12,1) all
  --standard .32s cubic-bezier(.82,0,.12,1) all
  --standardVibe .48s cubic-bezier(.82,0,.12,1) all
  --standardSlow .64s cubic-bezier(.82,0,.12,1) all
  --standardSlower .96s cubic-bezier(.82,0,.12,1) all
  --standardSlowest 1.6s cubic-bezier(.82,0,.12,1) all
  --slowRocket 2.4s cubic-bezier(.52,0,.12,1) all

  --cubic cubic-bezier(.82,0,.12,1)

  font-feature-settings 'ss04', 'zero'

.frameOverlay
  position absolute
  top 0 
  right 0
  bottom 0 
  left 0
  background linear-gradient(-35deg, var(--color-overlay-start) 0%, var(--color-overlay-end) 100%)
  z-index 9999999999999999
  pointer-events none

.suspend
  *
    animation-play-state paused !important

.clip
  *
    transition none !important

::selection
  background-color var(--color-border-default)

@keyframes cardShow
  0%
    opacity 0

  15.82%
    opacity 0
    transform matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -9.026, 0, 0, 1)

  21.02%
    transform matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -19.292, 0, 0, 1)

  35.34%
    transform matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -3.681, 0, 0, 1)

  49.55%
    opacity 1
    transform matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.594, 0, 0, 1)

  78.18%
    transform matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.018, 0, 0, 1)

  100%
    transform matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)


// @keyframes cardHide
//   0%
//     opacity 1
//     transform translateX(0px)

//   50%
//     opacity 0
//     transform translateX(100px)

//   100%
//     opacity 0
//     transform translateX(500px)

.cardShow
  z-index 3000001
  animation cardShow 400ms linear both
  animation-delay 0s

.cardHide
  opacity 0
  pointer-events none

.glitch
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  display flex
  justify-content center
  align-items center
  color var(--color-text-primary)

.line
  display none

.lastLine
  display block
  opacity 1

.glitchOn
  .line
    display block
    will-change clip-path

  .line:not(:first-child)
    position absolute

  .line:nth-child(1)
    animation clip 3000ms -300ms linear infinite, glitch1 1000ms -228ms linear infinite

  .line:nth-child(2)
    animation clip 3000ms -600ms linear infinite, glitch2 1000ms -927ms linear infinite

 @keyframes glitch1
  0%
	  transform translateX(0)
  80%
	  transform translateX(0)
	  color var(--color-text-primary)
  85%
	  transform translateX(-3px)
	  color var(--color-action-primary)
  90%
	  transform translateX(0px)
	  color var(--color-status-danger)
  95%
	  transform translateX(3px)
	  color var(--color-text-primary)
  100%
	  transform translateX(0)

 @keyframes glitch2
  0%
	  transform translateX(0)
  80%
	  transform translateX(0)
	  color var(--color-text-primary)
  85%
	  transform translateX(5px)
	  color var(--color-action-primary)
  90%
	  transform translateX(5px)
	  color var(--color-status-danger)
  95%
	  transform translateX(3px)
	  color var(--color-text-primary)
  100%
	  transform translateX(0)

.line:nth-child(3)
  animation clip 3000ms -900ms linear infinite, glitch3 1000ms -496ms linear infinite

@keyframes glitch3
  0%
	  transform translateX(0)
  80%
	  transform translateX(0)
	  color var(--color-text-primary)
  85%
	  transform translateX(-2px)
	  color var(--color-action-primary)
  90%
	  transform translateX(-4px)
	  color var(--color-status-danger)
  95%
	  transform translateX(4px)
	  color var(--color-text-primary)
  100%
	  transform translateX(0)

.line:nth-child(4)
  animation clip 3000ms -1200ms linear infinite, glitch4 1000ms -660ms linear infinite

@keyframes glitch4
  0%
	  transform translateX(0)
  80%
	  transform translateX(0)
	  color var(--color-text-primary)
  85%
	  transform translateX(3px)
	  color var(--color-action-primary)
  90%
	  transform translateX(1px)
	  color var(--color-status-danger)
  95%
	  transform translateX(-2px)
	  color var(--color-text-primary)
  100%
	  transform translateX(0)

.line:nth-child(5)
  animation clip 3000ms -11000ms linear infinite, glitch5 1000ms -399ms linear infinite

@keyframes glitch5
  0%
	  transform translateX(0)
  80%
	  transform translateX(0)
	  color var(--color-text-primary)
  85%
	  transform translateX(-2px)
	  color var(--color-action-primary)
  90%
	  transform translateX(-3px)
	  color var(--color-status-danger)
  95%
	  transform translateX(-4px)
	  color var(--color-text-primary)
  100%
	  transform translateX(0)

.line:nth-child(6)
  animation clip 3000ms -1800ms linear infinite, glitch6 1000ms -657ms linear infinite

@keyframes glitch6
  0%
	  transform translateX(0)
  80%
	  transform translateX(0)
	  color var(--color-text-primary)
  85%
	  transform translateX(-4px)
	  color var(--color-action-primary)
  90%
	  transform translateX(-4px)
	  color var(--color-status-danger)
  95%
	  transform translateX(1px)
	  color var(--color-text-primary)
  100%
	  transform translateX(0)

.line:nth-child(7)
  animation clip 3000ms -2100ms linear infinite, glitch7 1000ms -619ms linear infinite

@keyframes glitch7
  0%
	  transform translateX(0)
  80%
	  transform translateX(0)
	  color var(--color-text-primary)
  85%
	  transform translateX(2px)
	  color var(--color-action-primary)
  90%
	  transform translateX(-3px)
	  color var(--color-status-danger)
  95%
	  transform translateX(4px)
	  color var(--color-text-primary)
  100%
	  transform translateX(0)

.line:nth-child(8)
  animation clip 3000ms -2400ms linear infinite, glitch8 1000ms -380ms linear infinite

@keyframes glitch8
  0%
	  transform translateX(0)
  80%
	  transform translateX(0)
	  color var(--color-text-primary)
  85%
	  transform translateX(0px)
	  color var(--color-action-primary)
  90%
	  transform translateX(-2px)
	  color var(--color-status-danger)
  95%
	  transform translateX(2px)
	  color var(--color-text-primary)
  100%
	  transform translateX(0)

.line:nth-child(9)
  animation clip 3000ms -2700ms linear infinite, glitch9 1000ms -863ms linear infinite

@keyframes glitch9
  0%
	  transform translateX(0)
  80%
	  transform translateX(0)
	  color var(--color-text-primary)
  85%
	  transform translateX(-3px)
	  color var(--color-action-primary)
  90%
	  transform translateX(-1px)
	  color var(--color-status-danger)
  95%
	  transform translateX(-4px)
	  color var(--color-text-primary)
  100%
	  transform translateX(0)

.line:nth-child(10)
	animation clip 3000ms -3000ms linear infinite, glitch10 1000ms -745ms linear infinite

@keyframes glitch10
	0%
		transform translateX(0)
	80%
    transform translateX(0)
    color var(--color-text-primary)
	85%
    transform translateX(-1px)
    color var(--color-action-primary)
	90%
    transform translateX(-3px)
    color var(--color-status-danger)
	95%
    transform translateX(-1px)
    color var(--color-text-primary)
	100%
		transform translateX(0)

@keyframes clip
  0%
    clip-path polygon(0 100%, 100% 100%, 100% 120%, 0 120%)
  100%
    clip-path polygon(0 -20%, 100% -20%, 100% 0%, 0 0)

@import './Native/style'
@import './Components'
