@import './style/tokens/colors.generated.css'

@font-face
  font-family 'VCR'
  font-weight 100 700
  src url('./fonts/VCR/VCR.ttf')

@font-face
  font-family 'FiraCode'
  font-weight 100
  src url('./fonts/FiraCode/FiraCode-Light.ttf')

@font-face
  font-family 'FiraCode'
  font-weight 200
  src url('./fonts/FiraCode/FiraCode-Regular.ttf')

@font-face
  font-family 'FiraCode'
  font-weight 250
  src url('./fonts/FiraCode/FiraCode-Retina.ttf')

@font-face
  font-family 'FiraCode'
  font-weight 300
  src url('./fonts/FiraCode/FiraCode-Medium.ttf')

@font-face
  font-family 'FiraCode'
  font-weight 400
  src url('./fonts/FiraCode/FiraCode-SemiBold.ttf')

@font-face
  font-family 'FiraCode'
  font-weight 500
  src url('./fonts/FiraCode/FiraCode-Bold.ttf')

@font-face
  font-family 'MainFont'
  font-weight 200
  src url('./fonts/Ubuntu/Ubuntu-Light.ttf')

@font-face
  font-family 'MainFont'
  font-weight 300
  src url('./fonts/Ubuntu/Ubuntu-Regular.ttf')

@font-face
  font-family 'MainFont'
  font-weight 400
  src url('./fonts/Ubuntu/Ubuntu-Medium.ttf')

@font-face
  font-family 'MainFont'
  font-weight 500
  src url('./fonts/Ubuntu/Ubuntu-Bold.ttf')

body
  // Transistions
  --standardFaster .08s cubic-bezier(.82,0,.12,1) all
  --standardFast .16s cubic-bezier(.82,0,.12,1) all
  --standard .32s cubic-bezier(.82,0,.12,1) all
  --standardVibe .48s cubic-bezier(.82,0,.12,1) all
  --standardSlow .64s cubic-bezier(.82,0,.12,1) all
  --standardSlower .96s cubic-bezier(.82,0,.12,1) all
  --standardSlowest 1.6s cubic-bezier(.82,0,.12,1) all
  --slowRocket 2.4s cubic-bezier(.52,0,.12,1) all

  --cubic cubic-bezier(.82,0,.12,1)

  font-feature-settings 'ss04', 'zero'

.frameOverlay
  position absolute
  top 0 
  right 0
  bottom 0 
  left 0
  background linear-gradient(-35deg, var(--color-overlay-start) 0%, var(--color-overlay-end) 100%)
  z-index 9999999999999999
  pointer-events none

.suspend
  *
    animation-play-state paused !important

::selection
  background-color var(--color-border-default)

@keyframes cardShow
  0%
    opacity 0

  15.82%
    opacity 0
    transform matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -9.026, 0, 0, 1)

  21.02%
    transform matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -19.292, 0, 0, 1)

  35.34%
    transform matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -3.681, 0, 0, 1)

  49.55%
    opacity 1
    transform matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.594, 0, 0, 1)

  78.18%
    transform matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.018, 0, 0, 1)

  100%
    transform matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)


.cardShow
  z-index 3000001
  animation cardShow 400ms linear both
  animation-delay 0s

@import './Components'
