@import '../../../packages/ui/dist/tokens/tokens.generated.css'
@import '../../../packages/ui/dist/root/fonts.css'
@import '../../../packages/ui/dist/root/foundations.css'

body
  // Transistions
  --standardFaster .08s cubic-bezier(.82,0,.12,1) all
  --standardFast .16s cubic-bezier(.82,0,.12,1) all
  --standard .32s cubic-bezier(.82,0,.12,1) all
  --standardVibe .48s cubic-bezier(.82,0,.12,1) all
  --standardSlow .64s cubic-bezier(.82,0,.12,1) all
  --standardSlower .96s cubic-bezier(.82,0,.12,1) all
  --standardSlowest 1.6s cubic-bezier(.82,0,.12,1) all
  --slowRocket 2.4s cubic-bezier(.52,0,.12,1) all

  --cubic cubic-bezier(.82,0,.12,1)

.suspend
  *
    animation-play-state paused !important

@keyframes cardShow
  0%
    opacity 0

  15.82%
    opacity 0
    transform matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -9.026, 0, 0, 1)

  21.02%
    transform matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -19.292, 0, 0, 1)

  35.34%
    transform matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -3.681, 0, 0, 1)

  49.55%
    opacity 1
    transform matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.594, 0, 0, 1)

  78.18%
    transform matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.018, 0, 0, 1)

  100%
    transform matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)


.cardShow
  z-index 3000001
  animation cardShow 400ms linear both
  animation-delay 0s

@import './Components'
