html, body
  margin 0
  border 0
  font-family 'MainFont'
  font-weight 300
  -webkit-app-region no-drag
  overflow hidden
  color var(--color-text-primary)
  background var(--color-bg-raised)

div
  user-select none
  cursor default

::-webkit-scrollbar
  width 0px
  background transparent

#panel
  margin 0px
  // border-radius 12px
  overflow hidden

@import './style'
