.sliceOrigin
  cursor pointer
  display flex
  justify-content space-between
  align-items center
  position relative
  height 52px
  box-sizing border-box
  font-size 14px
  font-weight 400
  margin 6px
  border-radius 26px
  background var(--color-bg-raised)
  border-bottom 2px solid var(--color-bg-primary)
  box-shadow 0px 2px 4px var(--color-bg-primary)
  *
    pointer-events none

  .sliceOriginTitle
    padding 0px 48px 1px 48px
    color var(--color-text-primary)
    font-weight 400
    width 180px
    direction rtl
    text-overflow ellipsis
    overflow hidden
    text-align left
    white-space nowrap
    font-weight 300

.sliceOrigin:hover
  background var(--color-bg-control)

.sliceOriginNoDapp
  display flex
  justify-content center
  align-items center
  position relative
  text-transform uppercase
  box-sizing border-box
  height 52px
  font-size 10px
  letter-spacing 2px
  font-weight 400
  margin 6px
  border-radius 26px
  background var(--color-bg-primary)
  border 3px solid var(--color-bg-primary)
  *
    pointer-events none

.sliceOriginIndicator
  color var(--color-text-primary)
  cursor pointer
  position absolute 
  top 50%
  margin-top -3px
  left 20px
  bottom 0px
  width 7px
  height 7px
  border-radius 4px
  display flex
  justify-content center
  align-items center
  border-radius 12px
  background var(--color-action-primary)
  *
    pointer-events none

.sliceOriginIndicatorActive
  background var(--color-action-primary-hover)
  box-shadow 0px 0px 4px var(--color-action-primary-hover)

.sliceOriginReqs
  margin-right 24px
  display flex
  justify-content center
  align-items center

  .sliceOriginReqsNumber
    font-size 16px
    margin-right 5px
    
  .sliceOriginReqsLabel
    margin-top 2px
    font-size 8px
    text-transform uppercase
    font-weight 500

.originSwapOrigin
  height 120px
  width 100%
  font-size 20px
  font-weight 300
  display flex
  align-items center
  justify-content center

  .originSwapOriginText
    margin-left 10px

.originSwapTitle
  width 100%
  display flex
  justify-content center
  text-transform uppercase
  font-size 12px
  font-weight 500
  padding-bottom 6px
  letter-spacing 1px
  padding-left 1px
  
.originSwapChainList
  background var(--color-bg-primary)
  border-radius 12px

  .originChainItem
    position relative
    display flex
    justify-content flex-start
    align-items center
    height 64px
    margin 6px
    border-radius 26px
    cursor pointer
    background var(--color-bg-raised)
    box-shadow 0px 2px 4px var(--color-shadow-default)
    margin-bottom 10px
    font-size 18px
    font-weight 400
    border-bottom 2px solid var(--color-bg-primary)
    transform translateY(0px)

  .originChainItem:hover
    background var(--color-bg-control)
    box-shadow 0px 4px 8px var(--color-shadow-default)
    transform translateY(-1px)

  .originChainItem:active
    background var(--color-bg-control)
    box-shadow 0px 1px 2px var(--color-shadow-default)
    transform translateY(0px)

  .originChainItemIcon
    padding 1px 16px 0px 16px
    *
      cursor pointer
  
  .originChainItemCheck
    position absolute
    bottom 11px
    right 11px
    height 42px
    width 42px
    display flex
    justify-content center
    align-items center
    background var(--color-bg-primary)
    border-radius 12px
