.dashModule
  height 120px
  margin-bottom 8px
  border-radius 26px
  cursor pointer
  display flex
  justify-content center
  align-items center
  margin 6px
  font-size 18px
  font-weight 300
  border-radius 26px
  background var(--color-bg-secondary)
  box-shadow 0px 2px 4px var(--color-bg-primary)
  border-bottom 2px solid var(--color-bg-primary)

  *
    pointer-events none

  .dashModuleIcon
    margin-right 20px

.dashModule:hover
  transform translateY(-1px)
  box-shadow 0px 4px 8px var(--color-bg-primary)
  background var(--color-bg-raised)
  z-index 200
  position relative

.dashModule:active
  transform translateY(0px)
  box-shadow 0px 1px 2px var(--color-bg-primary)
  background var(--color-bg-control)
