.nf-scroll-area {
  min-height: 0;
  overflow-y: auto;
}

.nf-scroll-area--menu {
  max-height: var(--nf-size-scroll-menu);
}

.nf-scroll-area--list {
  max-height: var(--nf-size-scroll-list);
}

.nf-scroll-area--page {
  max-height: var(--nf-size-page-max-block);
}
