.txAdjustFee
  padding-top 64px
  
  input
    outline 0
    border 0
    background var(--color-bg-hover)
    color var(--color-text-primary)
    text-align center
    width 200px
    font-size 21px
    margin 5px 25px
    height 30px
    border-radius 12px
    font-family 'FiraCode'
    transition var(--standardFast)
    box-shadow 0px 0px 0px var(--color-bg-raised)

  input:focus
    transform scale(1.2) translateY(-2px)
    box-shadow 0px 10px 20px var(--color-bg-raised)

  // input:focus::selection
  //   background var(--color-action-danger-hover)

  .txFeeOverlayBaseFee
    width 100%

  .txFeeOverlayPriorityFee
    width 100%

  .txFeeOverlayLimit
    width 100%

  .txFeeOverlayInput
    display flex
    justify-content center

  .txFeeOverlayLabel
    font-size 12px
    padding 0px 5px 25px 5px 
    display flex
    justify-content center
    text-transform uppercase
    font-weight 300

// .txModuleDataBodyCopied
//   position absolute
//   top 0
//   left 0
//   right 0
//   bottom 0
//   display flex
//   justify-content center
//   align-items center
//   font-size 16px
//   letter-spacing 0px

//   svg
//     margin -3px 0px 0px 10px

// .decodedDataContract
//   padding 32px 11px 11px 11px
//   position relative
//   border-radius 8px
//   background var(--color-bg-hover)
